
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(170, 105, 116);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  margin-left: 450px;
  
  }

.registration-container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .registration-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .registration-container p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  .registration-container input[type="text"],
  .registration-container input[type="date"],
  .registration-container input[type="tel"],
  .registration-container textarea,
  .registration-container button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .registration-container button {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* .registration-container button:hover {
    background-color: #45a049;
  } */
  .registertext1{
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .submitbtn{
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: yellowgreen;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .submitbtn:hover{
    background-color: rgb(146, 152, 135);
  }
  .registertag{
    font-size: x-large;
    font-weight: 800px;
    padding-bottom: 200px;
    
  }
  .registertag2{
    font-size: x-large;
    font-weight: 800px;
    padding-bottom: 200px;
    
  }
  .textarea{
      font-weight: 600;
      font-size: 100px;
  }
  .registertext2{
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .registertext3{
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .registertext4{
    font-size: 18px;
    padding-top: 0px;
    margin-top: 20px;
  }